/*@import "tailwindcss";*/

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

html, body {
    font-family: "Rubik", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #232323;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    font-size: 17px;
    gap: var(--gap-size);
    padding: calc(var(--gap-size)*3);
    transition: transform 0.3s ease;
    overflow-x: hidden;
    overflow-y: hidden;
    /*margin: 20% 0;*/
}

.columnLeft, .columnRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-size);
}

.left-flex-item-0,
.left-flex-item-1,
.left-flex-item-2 {
    background-color: #323232;
    color: white;
    text-align: center;
    border-radius: calc(var(--tile-size) * 0.05);
    width: var(--tile-size);
    height: var(--height);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding);
}

.right-flex-item-0,
.right-flex-item-1 {
    background-color: #323232;
    color: white;
    text-align: center;
    border-radius: calc(var(--tile-size) * 0.05);
    width: var(--tile-size);
    height: var(--height);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding);
}

.right-flex-item-2,
.right-flex-item-3 {
    background-color: #323232;
    color: white;
    text-align: center;
    border-radius: calc(var(--tile-size) * 0.05);
    width: var(--tile-size);
    height: calc((var(--height) - var(--padding) * 2 - var(--gap-size))* 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding);
}

.textarea {
    font-family: "Rubik", sans-serif;
    width: 100%;
    height: calc(100% - var(--padding) * 2);
    font-size: 16px;
    line-height: 20px;
    border: none;
    outline: none;
    margin: 0;
    background: repeating-linear-gradient(
            transparent 0px,
            transparent 19px,
            #1e1e1e 19px,
            #1e1e1e 20px
    );
    background-attachment: local;
    resize: none;
    overflow-y: auto;
    padding: 1px;
    color: #787878;
    box-sizing: border-box;
    text-align: left;
}

/*.days {
    margin: 0px;
}*/

.days {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.date-display {
    font-size: 0.8em;
    color: #787878;
}

/*.keyboard-active {
    transform: translateY(-50%);
}*/

.navigation-container {
    /*position: fixed;
    top: 50%;
    left: 0;
    right: 0;*/
    display: flex;
    justify-content: space-between;
/*    padding: 0 1rem;
    transform: translateY(-50%);
    z-index: 10;
    pointer-events: none;*/
}

.nav-button {
    background-color: #323232;
    color: white;
    border: none;
    border-radius: 5%;
    width: 25px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    pointer-events: auto;
    transition: background-color 0.2s;
}

.nav-button:hover {
    background-color: #404040;
}
.preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Запрещает взаимодействие */
    padding: 10px;
    color: black;
    font-size: 16px;
    background: transparent;
}
.editor-container {
    position: relative;
}

.Editor {
    width: 100%;
    padding: 5px;
    height: calc(100% - var(--padding) * 2);
}

.tiptap {
    max-height: inherit;
    overflow-y: auto; /* Добавляем скролл */
    font-size: 16px;
    line-height: 10px;
}

.tiptap.ProseMirror {
    /*max-height: 150px;*/
    overflow-y: auto;  /* Прокрутка при превышении */
    box-sizing: border-box; /* Корректный учет отступов */
    padding: 5px; /* Немного отступа внутри */
     /* Контролируем рост вниз */
}

/* Basic editor styles */
.tiptap:first-child {
    margin-top: 0;
    display: block; /* Убедитесь, что контейнер не имеет display: flex или text-align: center */
    text-align: left;
    height: calc(100% - var(--padding) * 2);
    overflow-y: auto;
}

/* List styles */
.tiptap ul,
.tiptap ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
}

.tiptap ul li p,
.tiptap ol li p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

/* Heading styles */
.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
}

.tiptap h1,
.tiptap h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
}

.tiptap h1 {
    font-size: 1.4rem;
}

.tiptap h2 {
    font-size: 1.2rem;
}

.tiptap h3 {
    font-size: 1.1rem;
}

.tiptap h4,
.tiptap h5,
.tiptap h6 {
    font-size: 1rem;
}

/* Code and preformatted text styles */
.tiptap code {
    background-color: var(--purple-light);
    border-radius: 0.4rem;
    color: var(--black);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
}

.tiptap pre {
    background: var(--black);
    border-radius: 0.5rem;
    color: var(--white);
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;
}

.tiptap pre code {
    background: none;
    color: inherit;
    font-size: 0.8rem;
    padding: 0;
}

.tiptap blockquote {
    border-left: 3px solid var(--gray-3);
    margin: 1.5rem 0;
    padding-left: 1rem;
}

.tiptap hr {
    border: none;
    border-top: 1px solid var(--gray-2);
    margin: 2rem 0;
}
.tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}